services:
  gateway:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ../gateway/nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - episante_net

networks:
  episante_net:
    driver: bridge